<p-dialog
  [visible]="visible()"
  (visibleChange)="visibleChange.emit($event)"
  header="Edit trial details"
  [modal]="true"
  styleClass="!w-[32rem]"
  [closeOnEscape]="true"
>
  <form (ngSubmit)="save()" novalidate>
    <app-trial-edit-form
      [(name)]="name"
      [(identifier)]="identifier"
      [(assetIds)]="assetIds"
      [(primaryAssetId)]="primaryAssetId"
      [(indicationIds)]="indicationIds"
      [(phaseType)]="phaseType"
      [(phaseStart)]="phaseStart"
      [(phaseEnd)]="phaseEnd"
      [assetOptions]="products()"
      [indicationOptions]="indications()"
      [indicationCreateFn]="createIndication"
      [phaseOptions]="phaseOptions()"
      [phaseTypeLocked]="phaseTypeLocked()"
      [phaseStartLocked]="phaseStartLocked()"
      [phaseEndLocked]="phaseEndLocked()"
    />

    <app-form-actions
      submitLabel="Save"
      [loading]="saving()"
      [disabled]="!isValid() || saving()"
      (cancelled)="close()"
    />
  </form>
</p-dialog>
